

  



  <div class="cont-tabla" style="display:none" id='divtabla-art'>
      
   <form method="post" id="insert_form">
    <div class="table-repsonsive">
     <span id="error"></span>
     <table class="table table-bordered" id="tabla_artlista">
      <tr>
       <th>Articulos</th>
       <th>Precio</th>
       <th>Tienda</th>
       <th>URL</th>
       <th><button type="button" name="add" class="btn btn-success btn-sm add"><span class="glyphicon glyphicon-plus"></span></button></th>
      </tr>
     </table>
     
    </div>
   </form>
  </div>




<script>
    $(document).ready(function(){
     
     $(document).on('click', '.add', function(){
        var $ =jQuery.noConflict();
        $('#modal_busqueda').modal('show'); 
        var html = '';
        html += '<tr>';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td></td>';
        html += '<td><button type="submit" name="remove" class="btn btn-danger btn-sm remove"><span class="glyphicon glyphicon-minus"></span></button></td></tr>';
        $('#tabla_artlista').append(html);
     });
     
     $(document).on('click', '.remove', function(){
      $(this).closest('tr').remove();
     });
    });
</script>